.movies_row.columns {
  overflow: scroll;
  white-space: nowrap;
  margin-top: 4px;
  display: flex;
}
.movie-card {
  display: table;
  width: 197px;
}
.movie-card .image img {
  width: 194px;
}
.category-row {
  margin-top: 40px;
}
.hidden {
  display: none;
}
.movie-card:hover {
  cursor: pointer;
}
.movie-card:hover .card-image {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.addBtn, .removeBtn {
  position: absolute;
  top: 50%;
  left: 28%;
  background-color: #0c7767;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
}
.removeBtn {
  background-color: red;
  color: white;
  left: 14%;
}
.movie-card:hover .addBtn.hidden, .movie-card:hover .removeBtn.hidden {
  display: block;
}
.carousel .slide img {
  height: 300px;
}
