.movies_row.columns {
  overflow: auto;
  white-space: nowrap;
  margin-top: 4px;
  display: flex;
}
.movie-card .image img {
  width: 194px;
}
.category-row {
  margin-top: 40px;
  padding-top: 50px;
  width: 1200px;
  margin: 0 auto;
}
.hidden {
  display: none;
}
.movie-card {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.card.movie-card {
  min-width: 200px;
}
.movie-card:hover .card-image {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.cardOverlay {
  position: absolute;
  top: 48px;
  left: 0;
  width: 194px;
  height: 291px;
  background-color:#00000094;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  white-space: pre-line;
}
.cardOverlay:hover {
  cursor: pointer;
}
.cardOverlay .button {
  align-self: flex-end;
}
.movie-card:hover .cardOverlay.hidden {
  display: grid;
}
.carousel .slide img {
  height: 500px;
}
.carousel_container {
  height: 500px;
}
.carousel_overlay {
  position: absolute;
  top: 0;
  left: 32%;
  width: 68%;
  height: 500px;
  z-index: 100;
  background: linear-gradient( to right, black, transparent );
}
.carousel_container .title.movies-title {
  line-height: 500px;
  color: white;
  margin-left: 35px;
  z-index: 2000;
}
.carousel_container.columns .column {
  padding: 0;
  background-color: black;
}
.carousel_container .movies-title-column {
  z-index: 2000;
}
.fetchMoreCard {
  position: absolute;
    top: 152px;
    left: 29px;
    width: 150px;
    height: 61px;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
}
.movie_rating {
  color: #4270da;
}
.App.container{
  padding: 0;
}
@media screen and (max-width: 1200px) {
  .App.container{
    min-width: 1200px;
  }
}

@media screen and (max-width: 770px) {
  .carousel_overlay {
    left: 300px;
  }
  .carousel-root.column{
    display: none;
  }
  .carousel_container .title.movies-title {
  line-height: 200px;
  }
  .carousel_overlay {
    height: 200px;
  }
  .carousel .slide img {
  height: 200px;
  }
  .carousel_container {
  height: 200px;
  }

}
