.movies_row.columns {
  overflow: auto;
  white-space: nowrap;
  margin-top: 4px;
  display: flex;
}
.movie-card {
  display: table;
  width: 197px;
}
.movie-card .image img {
  width: 194px;
}
.category-row {
  margin-top: 40px;
}
.hidden {
  display: none;
}
.movie-card {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.movie-card:hover .card-image {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.cardOverlay {
  position: absolute;
  top: 48px;
  left: 0;
  width: 194px;
  height: 291px;
  background-color:#00000094;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  white-space: pre-line;
}
.cardOverlay:hover {
  cursor: pointer;
}
.cardOverlay .button {
  align-self: flex-end;
}
.movie-card:hover .cardOverlay.hidden {
  display: grid;
}
.carousel .slide img {
  height: 300px;
}
.carousel_container {
  height: 300px;
}
.carousel_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient( to right, #001511, transparent );
  z-index: 100;
}
.carousel_container .title.movies-title {
  line-height: 300px;
  color: white;
  margin-left: 35px;
  z-index: 2000;
}
.carousel_container.columns .column {
  padding: 0;
}
.carousel_container .movies-title-column {
  z-index: 2000;
}
.fetchMoreCard {
  position: absolute;
    top: 152px;
    left: 29px;
    width: 150px;
    height: 61px;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
}
.movie_rating {
  color: #4270da;
}
