.movies_row.columns {
  overflow: auto;
  white-space: nowrap;
  margin-top: 4px;
  display: flex;
}
.movie-card {
  display: table;
  width: 197px;
}
.movie-card .image img {
  width: 194px;
}
.category-row {
  margin-top: 40px;
}
.hidden {
  display: none;
}
.movie-card {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.movie-card:hover {
  cursor: pointer;
}
.movie-card:hover .card-image {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.cardOverlay {
  position: absolute;
  top: 48px;
  left: 0;
  width: 194px;
  height: 291px;
  background-color:#00000094;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  white-space: pre-line;
}
.cardOverlay .button {
  align-self: flex-end;
}
.movie-card:hover .cardOverlay.hidden {
  display: grid;
}
.carousel .slide img {
  height: 300px;
}
.carousel_container {
  background: linear-gradient( to right, #0b172b, transparent );
}
.carousel_container .title.movies-title {
  line-height: 300px;
  color: white;
  margin-left: 20px;
}
.carousel_container.columns .column {
  padding: 0;
}
